.Executive {
  width: 100%;

  .Executive__section {
    padding: 1em;

    .Executive__title {
      margin-bottom: 1em;
    }

    .Executive__actions {
      display: flex;
      justify-content: flex-end;
    }

    .Executive__information {
      font-size: 0.95em;
      padding: 1em 0;
    }

    .Executive__information:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
  }

  .Executive__section:not(:first-child) {
    margin-top: 1em;
  }
}

.Executive__register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
